* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
body{
    -webkit-font-smoothing: antialiased;
}
body, input, button{
    font: 14px 'Righteous', cursive;
}
a, p, h1, h2, h3, h4, h5, h6{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
    border: none;
}
body{
    background-color: #343434;
}